<!DOCTYPE html>
<html>
<head>
	<title>HTML5 Logout</title>
	<link rel="stylesheet" href="../static/css/logoutStyle.css">
</head>
<body>
    <div class="logout">
	<section class="logoutform cf">
		<form name="logout" action="/logout" method="get" accept-charset="utf-8">     
			<ul>
				<li>
                    <label class="logoutMsg">Thank you for using DPNet!</label>
                    <label class="logoutMsg">Logging out of the system.</label>
				</li>
                <li>
					<input type="submit" value="Back to Home">
				</li>
			</ul>
		</form>
	</section>
    </div>
</body>
</html>
